body {
  background: #f1f5f9;
}

.todo-container {
  max-width: 650px;
  margin: 2rem auto;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  gap: .8rem;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  border-bottom: 1px solid #e5e7eb;
}

li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-weight: bold;
}
.modal {
  position: fixed;
  inset: 0;
  max-width: 300px;
  margin: auto;
}

#editModal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
}
